<div class="container__big-card">
    <div class="big-card__image">
        <img src="https://i.stack.imgur.com/luaq2.png"
            alt="News image" height="270px">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu uma nova versão do angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dignissim dui a nunc scelerisque faucibus. Ut vulputate convallis faucibus. In vestibulum id ex non varius. Curabitur non est rhoncus, faucibus sapien nec,</a></p>
    </div>
</div>